
        body{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        fieldset{
            width: 300px;
            margin: 100px auto;
        }

        form{
            display: flex;
            flex-direction: column;
        }

        label{
            margin-top: 10px;
        }

        .labels{
            margin-top: 15px;
        }

        .inputs{
            margin-top: 2px;
            height: 2em;
            outline: 0;
            border-top: none;
            border-right: none;
            border-left: none;
        }

        button{
            margin: 20px auto 5px auto;
            width: 50%;
            height: 2em;
        }
